@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #EAEDED;
  /* Amazon Light Gray */
  color: #0F1111;
  /* Amazon Black */
}

body {
  margin: 0;
  font-family: 'Amazon Ember', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}